<ion-header>
  <ion-toolbar>
    <ion-title>Menú de Carros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="car-list">
    <ion-item class="car-item" routerLink="/allCarro">
      <ion-label>
        <h2>Carros</h2>
        <p>Descripción breve del carro</p>
      </ion-label>
    </ion-item>

    <ion-item class="car-item" routerLink="/allCategoria">
      <ion-label>
        <h2>Categoria</h2>
        <p>Categoria breve del carro</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
